### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Java / Build Tools ###
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties

# Gradle
.gradle/
build/

### System Files ###
.DS_Store
Thumbs.db

### Text files ###
*.odt
*.odt#
